.cabecalho {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: #FAD532;
    font-family: var(--fonte-principal);
}

.logo {
    position: relative;
    width: 130px;
}

#botao-menu-hamburguer {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    gap: .5rem
}

.menu a {
    display: block;
    padding: .5rem;
}