/* Nesse arquivo contêm todos os elementos que só existem na página 'Fale comigo' */

/*---------------- Mobile P ------------------ */

/* Estilização da parte de contatos nas redes sociais */
.contato-redes-sociais {
    display: flex;
    align-items: center;
    width: 256px;
    margin: 0 auto;
}

.contato-link-redes-sociais {
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
/* Linha divisória */
.linha-divisoria {
    margin: 1rem 0;
}
/* Estilização da parte de contatos por e-mail */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo, .mensagem {
    width: 80vw;
    margin: 1rem auto;
}
#nome {
    margin-top: 1rem;
}
.campo, .botao, .mensagem {
    font-family: var(--fonte-principal);
    box-shadow: 4px 4px 1px;
    margin: 0 auto;
}
.mensagem {
    height: 7rem;
}
.botao {
    padding: 0.5rem 1rem;
    border: 1px solid;
    color: var(--cor-principal);
    background-color: var(--cor-escura);
    border-radius: 8px;
    margin-left: 70%;
}

/*---------------- Mobile G ------------------ */

@media (min-width: 426px) {
    .linha-divisoria {
        margin: 2.5rem 0;
    }
    /* Estilização da parte de contatos nas redes sociais */
    .contato-img-redes-sociais {
        width: 75px;
    }
}
/*---------------- Tablet ------------------ */

@media (min-width: 768px) {
    .grid {
        display: flex;
        flex-direction: row;
    }
    /* Estilização da parte de contatos nas redes sociais */
    .apresentacao-contatos {
        margin: 0 1rem;
    }
    .apresentacao-contatos > .titulo {
        font-size: 1.5rem;
    }
    .contato-redes-sociais {
        max-width: 340px;
        margin-top: 1rem;
    }
    .redes-sociais {
        margin-top: 5rem;
    }
    .contato-img-redes-sociais {
        width: 60px;
    }
    /* Linha divisória agora vertical */
    .linha-divisoria {
        margin: 2.5rem 0;
    }
    /* Estilização da parte de contatos por e-mail */
    .campo, .mensagem {
        width: 300px;
        margin: 0.5rem;
    }
    .campo {
        height: 1.5rem;
    }
    .mensagem {
        height: 7rem;
    }
    .botao {
        padding: 1rem 1.5rem;
    }
}

/*---------------- Laptop ------------------ */

@media (min-width: 1024px) {
    .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/*---------------- Desktop ------------------ */

@media (min-width: 1440px) {

}