/* Importando as Fontes */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,100;0,400;0,700;0,1000;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');

/* Importando estilos */
@import url(textos.css); /* Toda a formatação de textos padrão */
@import url(cabecalho.css); /* Toda formatação do cabeçalho */
@import url(menu__hamburguer.css); /* Toda a formatação do menu hamburguer */
@import url(index.css); /* Toda formatação da página index */
@import url(sobre.css); /* Toda formatação da página sobre */
@import url(academico.css); /* Toda formatação da página academico */
@import url(rodape.css); /* Toda a formatação do rodapé */

/* Declarando as Variáveis */
:root {

    /* Cores */
        --cor__principal: #FAD532;
        --cor__secundaria: #333333;

    /* Fontes */
        --fonte__principal:'Sofia Sans Extra Condensed', sans-serif;
        --fonte__alternativa: 'Foldit', cursive;

    /* Tamanhos */
        --tamanho__mobile: 1rem;
        --tamanho__tablet: 1.5rem;
        --tamanho__desktop: 2rem;
}

.lista {
    background-color: var(--cor__secundaria);
    color: var(--cor__principal);
    padding: .5em;
}