/* Importando as Fontes */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,100;0,400;0,700;0,1000;1,100;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');

/* Importando estilos */
@import url(textos.css); /* Toda a formatação de textos padrão */
@import url(cabecalho.css); /* Toda formatação do cabeçalho */
@import url(menu-hamburguer.css); /* Toda a formatação do menu hamburguer */
@import url(index.css); /* Toda formatação da página index */
@import url(sobre.css); /* Toda formatação da página sobre */
@import url(academico.css); /* Toda formatação da página academico */
@import url(portfolio.css); /* Toda formatação da página portfolio */
@import url(rodape.css); /* Toda a formatação do rodapé */

/* Declarando as Variáveis */
:root {

    /* Cores */
        --cor-principal: #FAD532;
        --cor-secundaria: #333333;

    /* Fontes */
        --fonte-principal:'Sofia Sans Extra Condensed', sans-serif;
        --fonte-alternativa: 'Foldit', cursive;

    /* Tamanhos */
        --tamanho-mobile: 1rem;
        --tamanho-tablet: 1.5rem;
        --tamanho-desktop: 2rem;
}
