.pilar {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.pilares {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icones-pilares {
    width: 48px;
}


@media (min-width: 375px) {
    .icones-pilares {
        width: 56px;
    }
}

@media (min-width: 425px) {
    .icones-pilares {
        width: 63px;
    }
}


@media (min-width: 768px) {
    .icones-pilares {
        width: 115px;
        margin-bottom: 1rem;
    }
}