/* Nesse arquivo contêm todos os elementos que só existem na página 'O que fiz' */

/*---------------- Mobile P ------------------ */

/* Card Portfólio */

/* Fundo do card */
.card-portfolio {
    width: 262px;
    height: 190px;
    margin: 1rem auto;
    border-radius: 1em;
    border: 1px solid #777;
}
/* Mascara transparente para que seja possivel ver a imagem de fundo */
.transparente {
    width: 262px;
    height: 90px;
}
/* Card com informações como título, breve descrição e o botão para visitar a página */
.card-apresentacao {
    width: 262px;
    height: 100px;
    border-radius: 1em 5em 1em 1em;
    color: var(--cor-principal);
    background-color: #000000cc;
    border: 1px solid #777;
}
/* Fundo dos Cards com as imagens e seu alinhamento */
.sebo-digital {
    background: url(../imagens/card-portfolio/sebo-digital.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sorteador {
    background: url(../imagens/card-portfolio/sorteador.png);
    background-size: cover;
}
.orkut {
    background: url(../imagens/card-portfolio/orkut.png);
    background-size: cover;
    background-position: center;
}

/*---------------- Mobile M ------------------ */

@media (min-width: 375px) {
    /* Máscara */
    .transparente {
        height: 100px;
    }
    /* Card fundo */
    .card-portfolio {
        width: 308px;
        height: 210px;
    }
    /* Card informações */
    .card-apresentacao {
        width: 308px;
        height: 110px;
    }
    .card-apresentacao>.titulo {
        font-size: 1.5rem;
    }
    .card-academico>.alinhamento {
        padding-top: 4rem;
    }
    .alinhamento {
        grid-template-columns: 75% 25%;
    }
    .alinhamento>.paragrafo {
        font-size: 1rem;
    }
}

/*---------------- Mobile G ------------------ */

@media (min-width: 425px) {
    /* Card Fundo */
    .card-portfolio {
        width: 348px;
        height: 190px;
    }
    /* Máscara */
    .transparente {
        height: 80px;
    }
    /* Card Informações */
    .card-apresentacao {
        width: 348px;
    }
    
}

/*---------------- Tablet ------------------ */

@media (min-width: 768px) {
    /* Card fundo */
    .card-portfolio {
        width: 300px;
        height: 220px;
    }
    /* Máscara */
    .transparente {
        width: 300px;
        height: 105px;
    }
    
    /* Card Informações */
    .card-apresentacao {
        width: 300px;
        height: 115px;
    }
}

/*---------------- Laptop ------------------ */

@media (min-width: 1024px) {
    /* Card fundo */
    .card-portfolio {
        width: 400px;
        height: 240px;
    }
    /* Card informações */
    .card-apresentacao {
        width: 400px;
        height: 135px;
    }
    .card-apresentacao>.alinhamento {
        margin-top: 2rem;
    }
    .alinhamento {
        grid-template-columns: 70% 30%;
    }
}

/*---------------- Desktop ------------------ */

@media (min-width: 1440px) {
    /* Div ajustará os cards em colunas em caso de telas maiores de 1440px */
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    /* Card informações */
    .alinhamento>.paragrafo-card {
        margin-top: 1rem;
    }
}