.rodape {
    width: 100vw;
    height: 18vh;
    background: var(--cor__principal);
    font-family: var(--fonte__principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.link__redes__sociais {
    width: 42px;
    margin: 1rem;
}

.rodape > .paragrafo {
    font-size: 1rem;
    margin: .1rem;
}

@media (min-width: 768px) {
    .rodape {
        height: 25vh;
    }
    .link__redes__sociais {
        width: 45px;
    }
}