.apresentacao {
    display: flex;
    width: 262px;
    align-items: center;
    gap: .5rem;
    color: var(--cor-principal);
    background-color: var(--cor-escura);
    border-radius: 16px 99px 99px 16px;
    margin: 0 auto;
}

.apresentacao > .titulo {
    font-size: 2.5rem;
    padding: .5rem;
    text-align: center;
}

.foto {
    border: 5px solid var(--cor-escura);
    border-radius: 100%;
    width: 156px;
    z-index: 1;
}

.foto:hover {
    transition: .5s;
    transform: rotate(360deg);
}

@media (min-width: 768px) {
    .apresentacao-desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: .5rem;
    }
}

@media (min-width: 1440px) {
    .secao {
        width: 1152px;
    }
}