/* Usei como ponto de partida o conceito de Mobile First, então todos os estilos padrões se aplicam nas menores telas organizando o conteúdo se adapta a telas maiores através das Midia Query */

.cabecalho {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #FAD532;
    font-family: var(--fonte-principal);
}

.logo {
    position: relative;
    width: 130px;
}

.menu-hamburguer {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    gap: .5rem
}

.menu a {
    display: block;
    padding: .5rem;
}


@media (max-width: 426px) {
    
}