/* ------------### Card Acadêmico ###------------ */




/* ------------### Card Portfólio ###------------ */

/* Fundo do card */
.card-portfolio {
    width: 262px;
    height: 190px;
    margin: 1rem auto;
    border-radius: 1em;
    border: 1px solid #777;
}

/* Parte Transparente para que seja possivel ver a imagem de fundo */
.transparente {
    width: 262px;
    height: 90px;
}

/* Parte do Card onde vai as informações como título, breve texto e o botão para visitar a página */
.card-apresentacao {
    width: 262px;
    height: 100px;
    border-radius: 1em 5em 1em 1em;
    color: var(--cor-principal);
    background-color: #000000cc;
    border: 1px solid #777;
}

/* Estilização do título do Card */
.card-apresentacao > .titulo-card {
    align-self: flex-start;
    margin-left: .5rem;
    padding: 1rem .5rem 1rem;
}

/* Estilização do botão do Card */
.card-apresentacao > .alinhamento > .botao-card {
    margin-left: 1rem;
    width: 6.075rem;
}

/* Fundo dos Cards com as imagens e seu alinhamento */
.sebo-digital {
    background: url(../../imagens/card-portfolio/sebo-digital.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sorteador {
    background: url(../../imagens/card-portfolio/sorteador.png);
    background-size: cover;
}

.orkut {
    background: url(../../imagens/card-portfolio/orkut.png);
    background-size: cover;
    background-position: center;
}