.rodape {
    width: 100vw;
    height: 120px;
    background: var(--cor-principal);
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.link-redes-sociais {
    width: 42px;
    margin: 1rem;
}

.rodape > .paragrafo {
    font-size: 1rem;
    margin: .1rem;
}

@media (min-width: 768px) {
    
    .rodape {
        height: 160px;
    }
    .lista-redes-sociais {
        margin-bottom: .5rem;

    }
    .link-redes-sociais {
        width: 55px;
    }

    .rodape > .paragrafo {
        font-size: 1.5rem;
    }
}