/* Mobile P 320 x */

.titulo, .titulo-card, .paragrafo, .paragrafo-card {
    font-family: var(--fonte-principal);
}

.titulo {
    font-size: 2rem;
}

.titulo-card {
    font-size: 1.5rem;
    color: var(--cor-principal);
}

.paragrafo {
    font-size: 1.25rem;
    text-align: justify;
}

.paragrafo-card {
    font-size: .7rem;
    color: var(--cor-tercearia);
}

strong {
    font-weight: bold;
}

.thin {
    font-weight: 300;
}

.esquerda {
    text-align: start;
}



/* Tablet */
@media (min-width: 768px) {
    .titulo {
        font-size: 2.5rem;
    }
    
    .paragrafo {
        font-size: 1.75rem;
    }
    
}
/* Laptop */

/* Desktop */
