

@media (min-width: 375px) {
    .card-academico {
        width: 308px;
        height: 170px;
    }

    .card-academico>.titulo {
        padding-top: 5rem;
        font-size: 2rem;
    }

    .alinhamento>.paragrafo {
        font-size: 1rem;
    }

    #pop-up-curso-em-video,
    #pop-up-alura-lingua,
    #pop-up-alura,
    #pop-up-uninter,
    #pop-up-cisco {
        width: 308px;
    }

    .lista {
        width: 292px;
    }
}

@media (min-width: 425px) {
    .card-academico {
        width: 348px;
        height: 190px;
    }

    .card-academico>.titulo {
        padding-top: 5rem;
        font-size: 2.3rem;
    }

    .alinhamento>.paragrafo {
        font-size: 1.3rem;
    }

    #pop-up-curso-em-video,
    #pop-up-alura-lingua,
    #pop-up-alura,
    #pop-up-uninter,
    #pop-up-cisco {
        width: 348px;
    }

    .lista {
        width: 332px;
    }
}

@media (min-width: 768px) {
    .card-academico {
        width: 308px;
        height: 170px;
    }

    .lista {
        width: 292px;
        font-size: .5rem;
    }

    .apresentacao-academico {
        margin: 0 auto;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card-academico>.titulo {
        padding-top: 4.6rem;
        font-size: 2rem;
    }

    .alinhamento>.paragrafo {
        font-size: 1.01rem;
    }

}