.container {
    background-color: var(--cor-secundaria);
    text-align: center;
}

.secao {
    background-color: var(--cor-principal);
    width: 82vw;
    height: fit-content;
    margin: 1.5rem auto;
    padding: 1.5rem;
}

.secao > .thin {
    text-align: center;
}

.pilar {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.pilares {
    font-size: 1.1rem;
}

.icones-pilares {
    width: 15vw;
}