

@media (min-width: 375px) {
    .transparente {
        height: 100px;
    }
    
    .card-portfolio  {
        width: 308px;
        height: 210px;
    }
    .card-apresentacao {
        width: 308px;
        height: 110px;
    }
    
    .card-apresentacao > .titulo {
        font-size: 1.5rem;
    }
    .alinhamento > .paragrafo {
        font-size: 1rem;

    }
}

@media (min-width: 425px) {
    .card-portfolio {
        width: 348px;
        height: 190px;
    }
    .card-apresentacao {
        width: 348px;
    }
}

@media (min-width: 768px) {
    .card-portfolio {
        width: 630px;
        height: 300px; 
    }

    .transparente {
        margin-top: 0;
        width: 262px;
        height: 125px;
    }

    .card-apresentacao {
        width: 630px;
        height: 175px;
    }

    .card-apresentacao > .titulo {
       font-size: 2.5rem; 
    }

    .card-apresentacao > .paragrafo {
        font-size: 1.4rem;
    }

    .botao-card {
        margin-top: 2rem;
        margin-left: 33rem;
        padding: .5rem 1rem;
    }
}
